<!DOCTYPE html>
<html lang="th">
<%- include('partials/head') %>
<body class="text-slate-800">

    <%- include('partials/config') %>

    <div class="container mx-auto px-4 py-8 max-w-7xl">
        
        <%- include('partials/header') %>

        <%- include('partials/filters') %>

        <%- include('partials/table') %>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/main.js"></script>
</body>
</html> 